{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

export ZIM_HOME="${XDG_CONFIG_HOME:-$HOME/.config}/zsh/.zim"
export ZIM_CONFIG_FILE="${XDG_CONFIG_HOME:-$HOME/.config}/zsh/.zimrc"

# Download zimfw plugin manager if missing.
if [[ ! -e ${ZIM_HOME}/zimfw.zsh ]]; then
  curl -fsSL --create-dirs -o ${ZIM_HOME}/zimfw.zsh \
      https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh
fi

# Install missing modules and update ${ZIM_HOME}/init.zsh if missing or outdated.
# zimfw.zsh calls "zimfw ${@}" at the top level when sourced, so we pass "init"
# as a source argument instead of running it separately.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZIM_CONFIG_FILE} ]]; then
  zsh -c "source ${ZIM_HOME}/zimfw.zsh init"
fi
{{- end }}
